<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>To do</h2>
    <div class="center-column">

        <form method="POST" action="/">
            {% csrf_token %}
            {{form.title}}
            <input class="btn btn-info" type="submit" name="Create Task">
        </form>

        <div class="todo-list">

            {% for task in tasks %}
            <div class="item-row">
                <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
                <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>

                {% if task.complete == False %}
                <p>{{task.name}} ---- {{task.status}}</p>
                {% else %}
                <span>{{task.name}} ---- {{task.status}}</span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
